body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px; /* Set a maximum width for the container */
}

.device {
    border: 10px solid #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
}

.device-header {
    background: #343a40;
    height: 25px;
    border-radius: 10px 10px 0 0;
}

.device-controls {
    background: #ffffff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 6px;
    display: inline-block;
}

.device-screen {
    padding: 20px;
}

.device-screen h3,
.device-screen p {
    color: #000;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.data-table {
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
